test-position {
	position: absolute;
}

test-position-identifiers {
	position: [type] absolute;
	position: [t] absolute;
}

test-position-offset-directions {
	/* inline */
	position: [inline] 5px;
	/* block */
	position: [block] 5px;
	/* start */
	position: [start] 5px;
	/* end */
	position: [end] 5px;
}

test-position-offset-directions-2-values {
	/* inline */
	position: [inline] 10px 5px;
	/* block */
	position: [block] 10px 5px;
	/* start */
	position: [start] 10px 5px;
	/* end */
	position: [end] 10px 5px;
}

test-position-multiple-offset-values {
	position: [inline-start] 40px [inline-end] 20px [block-start] 10px [block-end] 5px;
}

test-position-multiple-offset-shorthand-values {
	position: [is] 40px [ie] 20px [bs] 10px [be] 5px;
}

test-position-multiple-special-values {
	position: [+] 320px [-] 160px [|] 80px [<] 40px [>] 20px [^] 10px [v] 5px;
}

test-position-identifier-with-multiple-special-values {
	position: [t] absolute [+] 320px [-] 160px [|] 80px [<] 40px [>] 20px [^] 10px [v] 5px;
}
